
body {
  background-color: #222;
  color: white;
  font-family: "Saira", sans-serif;
  font-weight: 700;
}

.container {
  width: 30%;
  margin: 100px;
}

h1 {
  display: block;
  position: relative;
  font-size: 30px;
  background: linear-gradient(to bottom, #00f2ff 0%, #e2fbff 50%, #0a343f 51%, #0094f7 100%);
  background-blend-mode: multiply;
  background-size: 10px 27px;
  background-repeat: repeat;
  line-height: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1::before {
  background: none;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-image: url("https://i.imgur.com/Ym9HCsT.gif");
  background-blend-mode: screen;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
}
h1::after {
  background: none;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5), 3px 1px 3px rgba(255, 0, 255, 0.85), -3px -2px 3px rgba(0, 0, 255, 0.85), 1px -2px 0 rgba(255, 255, 255, 0.8);
  z-index: -2;
}

text{
  fill: #F4D5FF !important;
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/saira/v7/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA773Fks8xkCQjQVcuxA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

p {
  font-family: Saira;
  font-weight: 300;
}
